.type-select button{
    flex: 1;
    transition: all .3s;
    cursor: pointer;
}

.type-select button.active{
    background-color: brown;
    color: darkblue;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .12);
}