/* .app-container{
  background-color: #36385E;
} */

/* .App-header {
  background-color: #E6EADE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

